[core]
  pager = delta
	excludesfile = ~/.gitignore_global
	editor = nvim
	ignorecase = false
  autocrlf = input
  longpaths = true
  editor = nvim
[include]
    path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[push]
  	default = simple
[fetch]
	prune = false
[rebase]
	autoStash = false
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[merge]
    conflictstyle = diff3
[mergetool "diffmerge"]
	cmd = \"\" -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[diff]
    colorMoved = default
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[hub]
  protocol = https
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[alias]
	d = diff
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	st = status
	br = branch
	ba = branch -a
	hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
  	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
    open = "!gh browse"
[delta]
    navigate = true # use n or N to move between chunk
    light = false # use dark mode
    side-by-side = true
    line-numbers = true
[credential]
    helper = store
[init]
	templateDir = ~/.git-templates
